*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}

html{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 10px;
}
html::-webkit-scrollbar-track{
    background-color: #18122B;
}
html::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    border-radius: 20px;
}
html::-webkit-scrollbar-thumb:hover{
    background-color: #635985;
}

body{
    background-color: #18122B;
}

nav{
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    background-Color: #18122b00;
}

span#header-name{
    margin-left: 30px;
    font-size: 20pt;
    font-family: 'Bebas Neue', cursive;
    color: #ffffff;
    /*height: 40px;
    width: 40px;*/
}
ul{
    margin-right: 30px;
}

ul li{
    display: inline;
}

ul li a{
    padding: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    opacity: 100%;
    color: rgb(255, 255, 255);
    transition: color .3s;
}

a:visited{
    text-decoration: none;
}
a:hover{
    color: #635985;
}

section{
    position: flex;
    background-repeat: no-repeat;
    background-size: cover;
}
section#secHome{
    background-image: url(/images/sec_home.svg);
    background-position: bottom;
}
section#secAbout{
    background-image: url(/images/sec_about.svg);
    background-position: top;
}
section#secProjects{
    background-image: url(/images/sec_contato.svg);
    background-position: bottom;
}
section#secContacts{
    background-image: url(/images/sec_project.svg);
    background-position: top;
}