body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    height: 100%;
}

html{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 10px;
}
html::-webkit-scrollbar-track{
    background-color: #18122B;
}
html::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    border-radius: 20px;
}
html::-webkit-scrollbar-thumb:hover{
    background-color: #635985;
}

body{
    background-color: #18122B;
}

nav{
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    background-Color: #18122b00;
}

span#header-name{
    margin-left: 30px;
    font-size: 20pt;
    font-family: 'Bebas Neue', cursive;
    color: #ffffff;
}
ul{
    margin-right: 30px;
}

ul li{
    display: inline;
}

ul li a{
    padding: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    opacity: 100%;
    color: rgb(255, 255, 255);
    transition: color .3s;
}

a:visited{
    text-decoration: none;
}
a:hover{
    color: #635985;
}  

section{
    display: flex;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
section#secHome{
    background-image: url(/images/sec_home.svg);
    background-position: bottom;
}
div#text_home{
    margin: 200px 0px 0px 200px;
}
div#text_home span{
    margin: 0;
    padding: 0;
    font-size: 50pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #ffffff;
}
p#text_home_nome{
    margin: 0;
    padding: 0;
    font-size: 13ch;
    font-family: 'Bebas Neue', cursive;
    font-weight: 750;
    color: #ec6d6d;
    white-space: nowrap;
    overflow: hidden;
    border-right: 8px dashed rgba(255, 255, 255);
    animation: escrevendo 3s infinite alternate;
}
@keyframes escrevendo{
    from {
        width: 0;
    }
    to {
        width: 13ch;
    }
}

div#foto_home{
    margin: 200px 0px 0px 200px;
}
div#foto_home img{
    margin: 0;
    background-image: url(/images/shape_foto_home.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

section#secAbout{
    background-image: url(/images/sec_about.svg);
    background-position: top;
}
section#secProjects{
    background-image: url(/images/sec_contato.svg);
    background-position: bottom;
}
section#secContacts{
    background-image: url(/images/sec_project.svg);
    background-position: top;
}